/**************** TOP *******************/


#content-links {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.title-section {
  margin: 0px 150px 0px 150px;
  padding: 0px 15px 0px 15px;
  background-color: #DB7342;
  display: flex;
  align-items: center;
  height: 130px;
  border-radius: 5px;
  cursor: pointer;
}

.title-section:hover {
  opacity: 0.92;
}

.section-description {
  height: 60%;
  width: 90%;
  background-color: #DB7342;
  align-items: vertical;
  margin-left: 25px;
}

#post-title {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 5px;
}

#post-topic {

  text-transform: uppercase;
}

#box {
  width: 150px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-comments {
  background-color: #E38E5C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 110px;
  border-radius: 50%;
  height: 110px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

#comments {
  font-size: 10px;
  font-weight: bold;
}

#number-comments {
  font-size: 1.4em;
  font-weight: bold;
}

/************ BODY ************/


.context-box {
  display: flex;
  justify-content: space-between;
}

.paragraphe-box {
  width: 70%;
  

}

.icons-box {
  width: 285px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  
}

.number-comments-body {
  background-color: #DA7342;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 115px;
  border-radius: 50%;
  height: 110px;
  margin-top: 20px;
}

#circle-suggestions {
  background-color: #DEAF46;
}

#circle-services {
  background-color: #6C4EBD;
}

#number-comments-body {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}

#comments-body {
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.social-box {
  display: flex;
  height: 80px;
  width: 170px;
  color: grey;
  margin-top: 20px;
  justify-content: center;
  font-weight: bold;
  font-size: 13px;
}

.comments-context {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  color: #CF6430;
}

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.calls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

#social-media-icon {
  color: grey;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 1.2rem;
}

.fa-envelope {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.fa-phone {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.fa-comment {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #D06330;
}



/*************** CONTENT SECTION *************/

.content-section {
  
}

.content-font {
  font-size: 0.9em;
}


.context-box {
  margin: 5px 150px 5px 150px;
  padding: 15px 0px 15px 55px;
}

.solution-box {
  border: 2px solid #DB7342;
  margin: 0px 195px 0px 195px;
  padding: 0px 15px 0px 15px;
}

.edit-box {
  margin: 20px 195px 20px 195px;
  display: flex;
  text-align: center;

}


.edit-button {
  text-decoration: none;
  background-color: white;
  color: #DB7342;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-right: 5px;

  transition: all ease 0.3s;
}

.edit-button:hover {
  color: white;
  background-color: #F38E5C;
}

/******* Services page ******/

#service-color {
  background-color: #6B4EBD;
}

#service-round-color {
  background-color: #9B68CB;
}

#box-color {
  border: 2px solid #6B4EBD;
}

#edit-color {
  color: #6B4EBD;
}

#edit-color:hover {
  color: white;
  background-color: #9B68CB;
}



/****** Suggestions page ********/


#sugestion-color {
  background-color: #DEAF47;
}

#sugestion-round-color {
  background-color: #E9C464;
}

#box-sugestion-color {
  border: 2px solid #DEAF47;
}

#edit-sugestion-color {
  color: #DEAF47;
}

#edit-sugestion-color:hover {
  color: white;
  background-color: #E9C464;
}

