

/****** Responsive screen ********/

@media screen and (max-width: 1200px) {

  #menu-actu:before {
    display: none;
    content: '';
  }
  #menu-actu:after {
    visibility: visible;
    content: "Actualités";
  }

  #menu-suggestions:before {
    display: none;
    content: '';
  }

  #menu-suggestions:after {
    visibility: visible;
    content: "Suggestions";
  }

}


@media screen and (max-width: 1024px) {

  .body {
    margin: 0px 0px 0px 0px;
  }

  .title-section {
    margin: 0px 100px 0px 100px;
  }

  .number-comments {
    display: none;
  }

  .content-section {
    margin: 0px 100px 0px 100px;
  }

  .context-box {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
  }

  .paragraphe-box {
    width: 100%;

  }

  .icons-box {
    width: 100%;
    height: 80px;
    margin: 0px 0px 0px 0px;

  }

  .number-comments-body {
    display: none;
  }

  .social-box {
    
  }

  .comments-context {
    display: flex;
  }

  .mail {
    margin-left: 15px;
  }

  .solution-box {
    margin: 0px 0px 0px 0px;
    
  }
  .edit-box {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 15px 15px;
  }


}



@media screen and (max-width: 800px) {

  .nav-wrapper {
    flex-direction: column;
    border-bottom: none !important;
    padding: 0px 0px 0px 0px !important;
  }

  .left-side {
    width: 100% !important;
    justify-content: center;
    border-bottom: 1px solid #E5E8EA;

  }

  .right-side {
    width: 100% !important;
    align-items: center !important;
    height: 60px;
  }

  .menu {
    border-top: none !important;
    transition: 0.5s;
    margin: 8px 8px 8px 8px;
  }

  .menu:hover {
    color: darkgrey !important;
  }
  
  .nav-link-wrapper {
    padding: 0px 0px 0px 0px !important;
  }

  .active {
    font-weight: bold;
    
  }

  .title-section {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .title-section {
    margin: 0px 15px 0px 15px;
  }

  .content-section {
    margin: 0px 15px 0px 15px;
  }
}


/* Burger menu */

#hamburger, #hamburger-content {
  display: inline;
}

#hamburger-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  /*
  padding: 0px;
  vertical-align: top;
  line-height: 47px;
  float: right;
  margin-right: 32px;
  */
}

#hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#hamburger-sidebar {
  display: none;
  position: fixed;
  width: 86%;
  z-index: 20;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #FFF;
  transform: translateX(100%);
  transition: transform .2s ease-out;
}

#hamburger-sidebar li {
  display: block;
  color: white;
}

#hamburger-sidebar-header {
  background: #081F31;
  background-size: cover;
  height: 128px;
}
#hamburger-sidebar-body {
  background: #172B3B;
  padding: 16px 8px;
}

#hamburger-sidebar-body li:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid red;
  margin-right: 16px;
  margin-bottom: 4px;
  color: white;
}

#hamburger-sidebar-body li:first-child:before {
  background: white;
}

#hamburger-sidebar-body li:nth-child(2):before {
  background: white;
}

#hamburger-sidebar-body li:nth-child(3):before {
  background-image: '#';
}

#hamburger-sidebar-body li:last-child:before {
  background: white;
}

#hamburger-sidebar-body .button {
  float: none;
  display: block;
  margin-top: 16px;
  height: auto;
  padding: 10px;
  line-height: inherit;
}

@media screen and (max-width: 1024px) {
  #hamburger-content {
    display: none;
  }

  #hamburger-button, #hamburger-sidebar, .hamburger-activated {
    display: block;
  }
    .hamburger-activated #hamburger-sidebar {
      transform: translateX(0);
    }
}
